@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;

    min-height: 100vh;
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.5));
}

.image-wrapper{
    position: relative;
}

.image-wrapper:hover .overlay{
    display: flex;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 12px;
    display: none;
    align-items: center;
    justify-content: center;    
}

.nft{
    width: 100%;
    border-radius: 12px;
}

.content h1{
    font-size: 24px;
    color: white;
    font-weight: 600;
    padding: 16px 0;
}

.content h1:hover{
    color: hsl(178, 100%, 50%);
}

.content {
    color: hsl(215, 51%, 70%);
}

.price {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
}

.price p{
    margin-left: 5px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}

.time{
    display: flex;
    align-items: center
}

.time p{
    margin-left: 5px;
}

.creator{
    border-top: 1px hsl(215, 32%, 27%) solid;
    padding-top: 5px;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 10px;
}


.creator img{
    width: 25px;
    border-radius: 30px;
    border: 1px white solid;
    display: flex;
    align-items: center
}

.creator p{
    color: hsl(215, 51%, 70%);
    margin-left: 15px;
}

.creator span{
    color: white;
}

.creator span:hover {
    color: hsl(178, 100%, 50%);
}